<div class="row" style="padding-top: 70px;">
    <div ng-if="!userSettings.showWelcome" class="col-xs-12 hidden-print well well-sm animated animated-slower fadeIn" style="background-color: #ff9800">
        <!--<button class="btn btn-default" ng-click="print()" title="Coming Soon">
            <i class="fa fa-print"></i> Print
        </button>-->
        <button class="btn btn-default" ng-click="resetResume()"><i class="fa fa-undo"></i> Reset resume</button>
        <button class="btn btn-default" disabled>Button 2</button>
        <button class="btn btn-default" disabled>Button 3</button>
    </div>

    <div ng-if="userSettings.showWelcome" class="col-xs-12 hidden-print">
        <div class="alert alert-warning text-center" role="alert">
            <div>
                <i ng-click="toggleSetting('showWelcome')" class="fa fa-close pull-right" style="cursor: pointer"></i>
            </div>
            <p>Click on any text to customize this page to your needs - changes will be saved to your PC. <br /> Revisit this page any time to update your resume!</p>
            <button ng-click="toggleSetting('showWelcome')" class="btn btn-primary">OK</button>
            <!--<button class="btn btn-primary">Learn More</button>-->
        </div>
    </div>

    <div class="col-xs-12 animated animated-faster fadeIn" ng-click="makeEditable(contactInfo)" ng-if="!contactInfo.editable || contactInfo.editable===false">
        <hr class="hidden-print" />
        <div class="col-sm-3 col-xs-12">
            <h5>{{contactInfo.name}}</h5>
        </div>
        <div class="col-sm-3 col-xs-6">
            <p>
                {{contactInfo.phone1}} <br />
                {{contactInfo.email}}
            </p>
        </div>
        <div class="col-sm-2 col-xs-6">
            <p>
                {{contactInfo.address1}} <br />
                {{contactInfo.city}}, {{contactInfo.state}} {{contactInfo.zipcode}}
            </p>
        </div>
        <div class="col-sm-4 col-xs-12 hidden-print">
            <img class="img-responsive" src="http://placehold.it/450x100">
        </div>
        <hr />
    </div>

    <div class="col-xs-12 animated animated-faster fadeIn" ng-if="contactInfo.editable === true">
        <hr class="hidden-print" />
        <div class="col-sm-3 col-xs-12">
            <input type="text" class="form-control" ng-model="contactInfo.name" placeholder="Name" />
        </div>
        <div class="col-sm-3 col-xs-6">
            <input type="text" class="form-control" ng-model="contactInfo.phone1" placeholder="Phone #" />
            <input type="text" class="form-control" ng-model="contactInfo.email" placeholder="E-mail" />
        </div>
        <div class="col-sm-2 col-xs-6">
            <input type="text" class="form-control" ng-model="contactInfo.address1" placeholder="Street Address" />
            <input type="text" class="form-control" ng-model="contactInfo.city" placeholder="City" />
            <input type="text" class="form-control" ng-model="contactInfo.state" placeholder="State" />
            <input type="text" class="form-control" ng-model="contactInfo.zipcode" placeholder="Zipcode" />
        </div>
        <div class="col-sm-4 col-xs-12 hidden-print">
            <img class="img-responsive" src="http://placehold.it/450x100">
        </div>
        <div class="col-xs-12">
            <button class="btn btn-primary" ng-click="saveResume()">Save</button>
            <button class="btn btn-default" ng-click="cancelEditable(contactInfo,'contactInfo')">Cancel</button>
        </div>
        <hr />
    </div>

    <div class="col-xs-12">
        <hr class="hidden-print" />
        <h4>Skills</h4>
        <star-rating></star-rating>
        <hr />
    </div>
    <div ng-sortable="{animation:150, ghostClass: 'sortable-ghost', handle: '.sortable-handle'}">
        <div class="col-xs-12" ng-repeat="section in resumeSections track by section.id">
            <div ng-click="makeEditable(section); formatHTMLFromContent(section);" ng-if="!section.editable || section.editable===false" class="animated animated-faster fadeIn">
                <h4 ng-if="section.isTitle" ng-bind="section.content"></h4>
                <h6 ng-if="section.isSubtitle" ng-bind="section.content"></h6>
                <p ng-if="!section.isTitle && !section.isSubtitle" ng-bind-html="section.content"></p>
            </div>
            <div ng-if="section.editable === true" class="well undershadow animated animated-faster fadeIn" ng-class="{'fadeInUp': section.content == '' && section.index == null}">
                <div>
                    <textarea class="form-control" style="background-color: white" rows="8" ng-model="section.content"></textarea>
                </div>
                <div>
                    <label class="checkbox-inline"><input type="checkbox" ng-model="section.isTitle" value="Title"> Title</label>
                    <label class="checkbox-inline"><input type="checkbox" ng-model="section.isSubtitle" value="Subtitle"> Subtitle</label>
                </div>
                <div>
                    <button class="btn btn-primary" ng-click="formatContentToHTML(section, 'resumeSections'); saveResume();">
                        <span class="hidden-xs">Save</span>
                        <i class="fa fa-floppy-o hidden-sm hidden-md hidden-lg"></i>
                    </button>
                    <button class="btn btn-danger" ng-click="removeSection(section, 'resumeSections')">
                        <span class="hidden-xs">Delete</span>
                        <i class="fa fa-trash-o hidden-sm hidden-md hidden-lg"></i>
                    </button>
                    <button class="btn btn-default" ng-click="cancelEditable(section, 'resumeSections')">
                        <span class="hidden-xs">Cancel</span>
                        <i class="fa fa-times-circle-o hidden-sm hidden-md hidden-lg"></i>
                    </button>

                    <i ng-if="!section.isTitle && !section.isSubtitle" ng-click="toggleSetting('showHelp')" class="fa fa-question-circle fa-3x pull-right" style="cursor: pointer"></i>

                    <!--Drag control-->
                    <button title="Drag to Re-Order" class="btn btn-default pull-right sortable-handle hidden-xs hidden-sm">
                        <i class="fa fa-arrows-v"></i>
                    </button>
                    <!--/Drag control-->
                    <!--Mobile Buttons-->
                    <button title="Section Up" class="btn btn-default pull-right hidden-md hidden-lg" ng-click="moveSection(section, 'resumeSections', 'up')">
                        <i class="fa fa-chevron-up"></i>
                    </button>
                    <button title="Section Down" class="btn btn-default pull-right hidden-md hidden-lg" ng-click="moveSection(section, 'resumeSections', 'down')">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <!--/Mobile Buttons-->
                </div>
                <div ng-if="userSettings.showHelp && !section.isTitle && !section.isSubtitle">
                    <table border="1" style="margin: 20px auto; background-color: white;">
                        <thead>
                            <tr>
                                <th class="text-center" width="250">Type This</th>
                                <th class="text-center" width="250">To Get This</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding-left: 10px">
                                    *Bullet 1 <br />
                                    *Bullet 2 <br />
                                    *Bullet 3 <br />
                                </td>
                                <td style="padding-top: 10px;">
                                    <ul>
                                        <li>Bullet 1</li>
                                        <li>Bullet 2</li>
                                        <li>Bullet 3</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="addSectionBtn" class="col-xs-12 col-md-6 col-md-offset-3 hidden-print btn-group">
        <button anchor-smooth-scroll="addSectionBtn" ng-click="addNewResumeSection()" type="button" class="btn btn-success btn-block">
            <i class="fa fa-plus-square"></i> Add Section
        </button>
    </div>
</div>