﻿<div class="row">
    <div class="col-sm-6">
        <gallery photos="test"></gallery>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 ng-bind="project.name"></h4>
                <h5 ng-bind="project.client"></h5>
            </div>
            <div class="panel-body">
                <div>Date: {{project.startDate | date:'longDate'}}</div>
                <div>Project Status: <span ng-bind-html="project.status"></span></div>
                <!--<div style="display: block; vertical-align: top; text-align:center">
                    <span ng-repeat="tech in project.technologies" style="font-size: 48px; text-align: center; padding-right: 20px;" ng-bind-html="tech"></span>

                    <a class="technologyLink" href="LINK" target="_blank"><i title="NAME" class="ICON"></i></a>
                </div>-->
                <div>Technologies: 
                <span ng-repeat="tech in project.technologies">{{tech.name}}{{$last ? '' : ', '}}</span>
                </div>

                <div ng-if="project.demoUrl" class="text-center col-xs-6" style="margin-top: 5px;">
                    <a ng-href="{{project.demoUrl}}" target="_blank">
                        <i class="fa fa-play-circle-o fa-5x"></i>
                        <div>View Demo</div>
                    </a>
                </div>

                <div ng-if="project.codeUrl" class="text-center col-xs-6" style="margin-top: 5px;">
                    <a ng-href="{{project.codeUrl}}" target="_blank">
                        <i class="fa fa-file-text fa-5x"></i>
                        <div>Source Code</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12" ng-bind="project.description"></div>
    </div>
</div>