﻿<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-warning text-center" role="alert">
            <p>These pages are works in progress! Data may be missing or incorrect.</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-xs-12">
            <h4>Professional</h4>
        </div>
        <div ng-if="project.client != 'Personal'" ng-repeat="project in projects | orderBy: 'startDate' : true" class=" col-xs-6 text-center">
            <a ng-href="/Projects/{{project.name}}" class="thumbnail">
                <img class="img-responsive" ng-src="{{project.imgs[0]}}">
                <span ng-bind="project.name"></span>
            </a>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-xs-12">
            <h4>Personal</h4>
        </div>
        <div ng-if="project.client == 'Personal'" ng-repeat="project in projects | orderBy: 'startDate' : true" class="col-xs-6 text-center">
            <a ng-href="/Projects/{{project.name}}" class="thumbnail">
                <img class="img-responsive" ng-src="{{project.imgs[0]}}">
                <span ng-bind="project.name"></span>
            </a>
        </div>
    </div>
</div>