﻿body {
    padding-top: 70px;
    -webkit-backface-visibility: hidden;
}

.footer-logo {
    font-size: 18px;
    font-family: 'Yellowtail', cursive;
}

    .footer-logo img {
        width: 85px;
        height: 93px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

.nav {
    font-size: 14px;
}

.btn i {
    font-size: 16px;
}

h6,
.h6 {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 5px;
}


.twrap {
    overflow: hidden;
    padding: 0 4px 0 12px;
}

textarea {
    width: 100%;
    height: 100px;
}

/*Star Module*/
.star-editable {
    margin-right: 5px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .star-editable {
        margin-top: 13px;
    }
}

textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control {
    font-size: 13px;
}

.well {
    border-radius: 4px;
}

.undershadow {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1),0 4px 8px 0 rgba(0,0,0,0.2);
}

.technologyLink {
    color: slategray;
}

.sortable-ghost {
    opacity: .5;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 4px;
}