﻿@media print {
    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        font-size: 14px;
        font-weight: lighter;
    }

    p {
        font-size: 12px;
    }

    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .hidden-print {
        height: auto;
    }

    .body-content {
        margin-top: -50px !important;
    }
}
