<!DOCTYPE html>
<html ng-app="kminardoCom" ng-controller="LayoutController">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title ng-bind="dynamicTitle"></title>
<!--
    @Styles.Render("~/Content/lib")
    @Styles.Render("~/Content/css")
-->
    <link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top hidden-print">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-href="/">KMinardoCom</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul ng-click="closeMenu()" class="nav navbar-nav">
                    <li><a ng-href="/Resume">Resume</a></li>
                    <li><a ng-href="/Projects">Projects</a></li>
                    <li><a ng-href="/Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <noscript>
        <div>
            This page was built using AngularJS - Javascript is required to view!
        </div>
    </noscript>
    <div class="container body-content">
<!--        @RenderBody()-->
        <div ng-view></div>
    </div>
    <div class="container hidden-print">
        <hr />
        <div class="row text-center">
            <div class="col-sm-6">
                <a href="https://www.facebook.com/ken.minardo"><i class="fa fa-facebook-square fa-4x"></i></a>
                <a href="https://www.reddit.com/u/kminardo"><i class="fa fa-reddit-square fa-4x"></i></a>
                <br />
                <a href="https://twitter.com/kminardo"><i class="fa fa-twitter-square fa-4x"></i></a>
                <a href="https://bitbucket.org/kminardo"><i class="fa fa-bitbucket-square fa-4x"></i></a>
            </div>
            <div class="col-sm-6 footer-logo">
                <img src="./img/cle_small.png" /> <br/>
                <span>Built in Cleveland, OH</span>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://rubaxa.github.io/Sortable/Sortable.js"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
<!--    Angular App-->
    <script src="./js/app.js"></script>
    <script src="./js/config.js"></script>
    <script src="./js/directives.js"></script>
    <script src="./js/route.config.js"></script>
    
    <script src="./js/services/markdownLite.js"></script>
    <script src="./js/directiveTemplates/starRatings.js"></script>
    <script src="./page/resume.js"></script>
<!--
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularModules");
    @Scripts.Render("~/bundles/angularapp")
    @RenderSection("scripts", required: false)
-->
</body>
</html>