html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #2A464A;
    background-color: #F7F7F5;
}

h2 {
    font-size: 2.7em;
    margin: 0;
}

a {
    color: #EF5D04;
    transition: all .25s ease-out;
}

.left-container a {
    color: #FBF9FB;
}

.left-container a:hover {
    color: #EF5D04;
}

.bold {
    font-weight: 900;
}

.italic {
    font-style: italic;
}

.h-rule {
    border: #354255 dashed 1px;
    margin: 30px 0px 30px 0px;
}

.section-header {
    font-size: 1.3em;
    letter-spacing: 3px;
}

.fa-circle {
    color: #EF5D04;
}

.fa-circle.disabled {
    color: #C7D9D9 !important;
}

.fa-stack {
    margin-right: 15px;
}

.left-column {
    color: #FBF9FB;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e44d39+0,e44d39+6,2a374c+7,2a374c+100 */
    background: rgb(228, 77, 57);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(228, 77, 57, 1) 0%, rgba(228, 77, 57, 1) 6%, rgba(42, 55, 76, 1) 7%, rgba(42, 55, 76, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(228, 77, 57, 1) 0%, rgba(228, 77, 57, 1) 6%, rgba(42, 55, 76, 1) 7%, rgba(42, 55, 76, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #EF5D04 0%, rgba(228, 77, 57, 1) 7%, #00194E 7%, #00194E 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e44d39', endColorstr='#2a374c', GradientType=0);
    /* IE6-9 */
}

.left-container {
    text-align: left;
    margin-left: 30px;
}

.portrait {
    padding-top: 30px;
    padding-bottom: 20px;
}

.portrait img {
    max-width: 165px;
    border-radius: 50%;
    padding: 5px;
    border: 6px solid #EF5D04;
}

.contact-block {
    margin-top: 5px;
    padding-left: 5px;
}

.bordered-icon {
    margin-right: 20px;
    border-radius: 60px;
    box-shadow: 0px 0px 0px 4px #053170;
}

.skill-row {
    margin-top: 15px;
    padding-left: 20px;
}

.right-container {
    max-width: 800px;
}

.right-container .h-rule {
    border: #D9E2E1 dashed 1px;
    margin: 0px 0px 0px 0px;
}

.content-container {
    padding-top: 20px;
}

.content-container .content-header {
    color: #002056;
    font-weight: 700;
}

.content-container .content-header>span {
    margin-left: 10px;
}

.content-container .content-body {
    padding: 20px 30px 15px 30px;
}

.content-container .bordered-icon {
    color: #FBF9FB;
    box-shadow: 0px 0px 0px 4px #BED3D2;
}

.content-list {
    margin-left: 20px;
}

.content-list>li {
    padding-bottom: 20px;
    color: #002056;
}

.content-li-header {
    margin-right: 15px;
    color: #002056;
    font-weight: 600;
    text-transform: uppercase;
}

.content-list .content-li-years {
    color: #5B6F70;
}

.content-list .content-li-years:before {
    content: "| ";
}

.content-list .content-li-desc {
    color: #2A464A;
    padding-top: 5px;
}

.olderWork {
    transition: all 1s;
}

.hidden {
    opacity: 0;
    height: 0;
    padding-bottom: 0 !important;
}

.btn-default {
    background-color: #EF5D04;
    color: white;
    font-weight: 500;
}