﻿<div>
    <div class="well well-sm">
        <img style="max-width: 100%; cursor:pointer" ng-src="{{currentPhoto}}" ng-click="showGalleryModal()" />
        <div style="display:inline-block; max-width: 100%; overflow-x: auto; overflow-y: hidden; white-space:nowrap">
            <img ng-repeat="photo in photos track by $index" style="margin: 10px 5px 0px 0px; max-width: 110px; cursor:pointer" ng-src="{{photo}}" ng-click="setCurrent(photo)" />
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <img style="max-width: 100%" ng-src="{{currentPhoto}}" />
                </div>
                <div class="modal-footer">
                    <a ng-href="{{currentPhoto}}" target="_blank" class="btn btn-default">XL Image</a>
                </div>
            </div>
        </div>
    </div>
</div>