﻿<div ng-repeat="skillRow in skillRows" class="row" style="padding-top: 10px">
    <!--This isn't as responsive as I'd like, but having the rows are more important for now, so javascript handles our columns on load-->
    <div ng-repeat="skill in skillRow">
        <div class="col-xs-4 col-sm-3" ng-if="!skill.editable || skill.editable===false" ng-click="makeEditable(skill)">
            <h6 ng-bind="skill.name"></h6>
            <div style="display: inline" ng-repeat="i in [1, 2, 3, 4, 5]">
                <i ng-if="$index < skill.rating" class="fa fa-star"></i>
                <i ng-if="$index >= skill.rating" class="fa fa-star-o"></i>
            </div>
        </div>

        <div class="col-xs-12 col-sm-3 well animated animated-faster fadeIn" ng-if="skill.editable === true">
            <form>
                <div class="form-group" style="margin-bottom: 2px;">
                    <label>Name</label>
                    <input class="form-control" style="background-color:white;" ng-model="skill.name" placeholder="Skill Name">
                </div>
                <div class="form-group">
                    <label>Rating</label>
                    <div style="margin-top: -10px;">
                        <div style="display: inline;" ng-repeat="i in [1, 2, 3, 4, 5]">
                            <i ng-click="starClick($parent.skill, $index + 1);" ng-if="$index < skill.rating" class="fa fa-star star-editable"></i>
                            <i ng-click="starClick($parent.skill, $index + 1);" ng-if="$index >= skill.rating" class="fa fa-star-o star-editable"></i>
                        </div>
                    </div>
                </div>
                <button title="Save" class="btn btn-primary" ng-click="saveResume()"><i class="fa fa-floppy-o"></i></button>
                <button title="Delete" class="btn btn-danger" ng-click="removeSection(skill, 'skills')"><i class="fa fa-trash-o"></i></button>
                <button title="Cancel" class="btn btn-default" ng-click="cancelEditable(skill, 'skills')"><i class="fa fa-times-circle-o"></i></button>
            </form>
        </div>
    </div>

    <div class="col-xs-12 col-md-2 hidden-print btn-group" ng-if="$last">
        <button ng-click="addNewSkill()" type="button" class="btn btn-success btn-block">
            <i class="fa fa-plus-square"></i> Add Skill
        </button>
    </div>
</div>
