.left-column {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e44d39+0,e44d39+6,2a374c+7,2a374c+100 */
    background: rgb(228, 77, 57);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(228, 77, 57, 1) 0%, rgba(228, 77, 57, 1) 6%, rgba(42, 55, 76, 1) 7%, rgba(42, 55, 76, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(228, 77, 57, 1) 0%, rgba(228, 77, 57, 1) 6%, rgba(42, 55, 76, 1) 7%, rgba(42, 55, 76, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #EF5D04 0%, rgba(228, 77, 57, 1) 7%, #00194E 7%, #00194E 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e44d39', endColorstr='#2a374c', GradientType=0);
    /* IE6-9 */
    color: #FBF9FB;
}

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #2A464A;
}

a {
    color: #FBF9FB;
    transition: all .25s ease-out;
}

a:hover {
    color: #EF5D04;
}

h2 {
    font-size: 2.7em;
    margin: 0;
}

.bold {
    font-weight: 900;
}

.fa-circle {
    color: #EF5D04;
}

.fa-circle.disabled {
    color: #C7D9D9 !important;
}

.fa-stack {
    margin-right: 15px;
}

.contact-block {
    margin-top: 5px;
    padding-left: 5px;
}

.left-container {
    margin-left: 30px;
    text-align: center;
}

.right-column {
    background-color: #F7F7F5;
}

.content-container {
    padding: 20px 80px 0px 80px;
}

.content-container .content-header {
    color: #002056;
    font-weight: 700;
}

.content-container .content-header>span {
    margin-left: 10px;
}

.content-container .content-body {
    padding: 20px 30px 15px 30px;
}

.content-container .bordered-icon {
    color: #FBF9FB;
    box-shadow: 0px 0px 0px 4px #BED3D2;
}

.bordered-icon {
    margin-right: 20px;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 0px 4px #053170;
}

.portrait {
    padding-top: 30px;
    padding-bottom: 20px;
}

.portrait img {
    width: 50%;
    border-radius: 50%;
    padding: 8px;
    border: 8px solid #EF5D04;
}

.content-list>li {
    padding-bottom: 20px;
}

.content-list>li>i {
    color: #002056;
}

.content-li-header {
    margin-right: 15px;
    color: #002056;
    font-weight: 600;
    text-transform: uppercase;
}

.content-list .content-li-years {
    color: #5B6F70;
}

.content-list .content-li-desc {
    padding-top: 10px;
}

.content-list {
    margin-left: 20px;
}
